.cart-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #ccc;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  width: 50vw;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow-y: scroll;
  z-index: 3;
}

.search-prices {
  padding: 5px;
  border-radius: 5px;
  background-color: #0b53b3;
  color: white;
  border: 1px solid #0b53b3;
  font-size: 12px;
  cursor: pointer;
}

.remove-item {
  padding: 5px;
  border-radius: 5px;
  background-color: #0b54b37e;
  color: white;
  border: 1px solid #0b54b37e;
  font-size: 12px;
  cursor: pointer;
}

.close-cart {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-presentation {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  padding: 10px;
  flex-direction: row;
  gap: 20px;
}

.items {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
