.loading-data {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.636);
  z-index: 1;
}

.loading-data > img {
  z-index: 1;
  width: 50px;
  height: 50px;
}
