.table-report-price-data {
  position: relative;
  margin-top: 10px;
  height: 90vh;
  overflow-y: auto;
}

.report-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 94%;
  align-self: center;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

.stats-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #0b53b3;
  color: white;
  width: 15vw;
  height: 120px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.stats-card > b {
  font-size: 20px;
}

.report-presentation {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.download-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 100px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50px;
  color: white;
  margin-right: 50px;
  cursor: pointer;
  right: 0;
  z-index: 1;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.download-pdf:hover {
  background-color: #f1f1f1;
}

.download-pdf > img {
  width: 30px;
  height: 30px;
}
